/*Title*/

h3 {
  margin: 0;
}

.title {
  text-align: center;
  margin: 5%;
}

#title-img {
  width: 20%;
}

/*Content*/

h5 img {
  width: 25px;
  position: relative;
  top: 5px;
}

li {
  font-size: 13px;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #000;
}

iframe {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 15px;
}

/*Footer*/

.footer {
  text-align: center;
}
